@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Nunito", sans-serif;
  background: #191b2a;
  background: url("../public/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #222;
  text-decoration: none;
}
a:hover,
a:focus {
  text-shadow: none;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
header {
  background-color: #09090c;
  padding: 20px 30px;
  height: auto;
  display: flex;
  align-items: center;
  .logo {
    height: 50px;
    margin-right: 30px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .menu-item {
      display: flex;
      align-items: flex-end;
      margin-right: 30px;
      svg {
        width: 20px;
        height: 20px;
        fill: white;
        margin-right: 6px;
      }
      span {
        position: relative;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.9rem;
        transition: all 0.3s ease-in-out;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -8px;
          width: 0%;
          height: 2px;
          background: #fff;
          transition: all 0.3s ease-in-out;
        }
        &:hover::before {
          width: 100%;
        }
      }
    }
  }
}

// Home Slider
.mySwiper {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  margin-top: 14px;
  padding-bottom: 50px !important;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    .slide {
      position: relative;
      .slide_img {
        display: block;
        width: 100%;
        height: 46vh;
        border-radius: 6px;
        box-shadow: 0px 26px 30px -10px rgba(0, 0, 0, 0.69),
          0px 16px 10px -10px rgba(0, 0, 0, 0.73);
      }
      .slide_text{
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 100%;
        height: auto;
        opacity: 0;
        transition: all .5s ease-in-out;
        transition-delay: .5s;
        transform: translateX(30px);
      }
    }
  }
  .swiper-slide-active{
    .slide{
      .slide_text{opacity: 1;transform: translateX(0);}
    }
  }
  .swiper-slide-prev, .swiper-slide-next{
    position: relative;
    transition: all .3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#30323e,#1e1f2a) 0 0/cover;
      opacity: .6;
      z-index: 99;
      transition: all .3s ease-in-out;
    }
  }
  .swiper-pagination {
    display: block;
    text-align: right !important;
    bottom: 55px !important;
    margin: 0;
    padding: 0;
    right: 10% !important;
    left: unset !important;
    width: 100%;
    .swiper-pagination-bullet {
      background: #969eab;
      pointer-events: all !important;
      opacity: 1;
      height: 11px;
      width: 11px;
      margin-right: 14px !important;
    }
    .swiper-pagination-bullet-active {
      background: #f9f9f9;
    }
  }
}
