@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Nunito", sans-serif;
  background: #191b2a;
  background: url("../public/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #222;
  text-decoration: none;
}
a:hover,
a:focus {
  text-shadow: none;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: 320px) and (max-width: 991px) {
  body {
    background: #191b2a;
  }
  .container {
    overflow: hidden;
    padding: 0 15px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
}

@media (min-width: 1700px) {
  .container {
    max-width: 1760px;
  }
}

// Header
.transparentHeader{
  background-color: transparent!important;
  background: linear-gradient(0deg,transparent,rgba(0,0,0,.03) 15%,rgba(0,0,0,.125) 30%,rgba(0,0,0,.25) 46%,rgba(0,0,0,.4) 61%,rgba(0,0,0,.553) 75%,rgba(0,0,0,.694) 88%,rgba(0,0,0,.8));
}
header {
  background-color: #09090c;
  padding: 20px 30px;
  height: auto;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  .menu-icon {
    display: none !important;
    z-index: 99999;
    position: absolute;
    top: 40px;
    left: 24px;
    svg {
      fill: white;
      width: 1em;
      height: 1em;
      font-size: 1.5rem;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      flex-shrink: 0;
      user-select: none;
    }
  }
  .logo {
    height: 50px;
    margin-right: 30px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
    .menu-item {
      display: flex;
      align-items: flex-end;
      margin-right: 30px;
      svg {
        width: 20px;
        height: 20px;
        fill: white;
        margin-right: 6px;
      }
      span {
        position: relative;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.9rem;
        transition: all 0.3s ease-in-out;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -8px;
          width: 0%;
          height: 2px;
          background: #fff;
          transition: all 0.3s ease-in-out;
        }
        &:hover::before {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  header {
    background: transparent;
    position: relative;
    .menu-icon {
      display: block !important;
      z-index: 9999;
    }
    .logo {
      display: block;
      margin: 0 auto;
      z-index: 9999;
    }
    ul {
      position: fixed;
      left: -100%;
      top: 0;
      width: 50%;
      height: 100%;
      background-color: #191b2a;
      flex-flow: column;
      gap: 20px;
      padding-top: 100px;
      margin-top: 0;
      align-items: flex-start;
      padding-left: 14px;
    }
  }
}

// Home Slider
.mySwiper {
  width: 100%;
  height: 100%;
  margin-top: 14px;
  padding-bottom: 50px !important;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    .slide {
      position: relative;
      .slide_img {
        display: block;
        width: 100%;
        height: 46vh;
        border-radius: 6px;
        box-shadow: 0px 26px 30px -10px rgba(0, 0, 0, 0.69),
          0px 16px 10px -10px rgba(0, 0, 0, 0.73);
      }
      .slide_text {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 100%;
        height: auto;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        transition-delay: 0.5s;
        transform: translateX(30px);
      }
    }
  }
  .swiper-slide-active {
    .slide {
      .slide_text {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  .swiper-slide-prev,
  .swiper-slide-next {
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#30323e, #1e1f2a) 0 0 / cover;
      opacity: 0.6;
      z-index: 99;
      transition: all 0.3s ease-in-out;
    }
  }
  .swiper-pagination {
    display: block;
    text-align: right !important;
    bottom: 55px !important;
    margin: 0;
    padding: 0;
    right: 10% !important;
    left: unset !important;
    width: 100%;
    .swiper-pagination-bullet {
      background: #969eab;
      pointer-events: all !important;
      opacity: 1;
      height: 11px;
      width: 11px;
      margin-right: 14px !important;
    }
    .swiper-pagination-bullet-active {
      background: #f9f9f9;
    }
  }
}

@media (min-width: 320px) and (max-width: 992px) {
  .mySwiper {
    margin-top: 20px !important;
    .swiper-slide {
      .slide {
        img {
          height: auto !important;
        }
      }
    }
  }
}

// Brands Row
.brands-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  .brand {
    position: relative;
    background: linear-gradient(#30323e, #1e1f2a) 0% 0% / cover;
    border-radius: 10px;
    border: 3.5px solid #3e404c;
    position: relative;
    transition: all 300ms ease-in-out 0s;
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
      rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    margin: 0 8px;
    margin-top: 15px;
    img {
      max-width: 100%;
      height: auto;
      display: block;
      z-index: 1;
      position: relative;
      pointer-events: none;
    }
    .video {
      bottom: 0px;
      object-fit: cover;
      display: block;
      position: absolute;
      height: 100%;
      left: 0px;
      opacity: 0;
      right: 0px;
      top: 0px;
      border-radius: 4px;
      transition: opacity 150ms ease-in-out 0s;
      width: 100%;
    }
    &:hover {
      transform: scale(1.08);
      border-color: white;
      box-shadow: rgba(0, 0, 0, 0.8) 0px 40px 58px -16px,
        rgba(0, 0, 0, 0.72) 0px 30px 22px -10px;
    }
    &:hover .video {
      opacity: 1;
    }
  }
}

@media (min-width: 320px) and (max-width: 1200px){
  .brands-row{
    padding:0 !important;
  }
}

@media (min-width: 992px) {
  .brands-row {
    margin-top: 40px;
    margin-bottom: 30px;
    .brand {
      margin: 0 12px;
    }
    .swiper {
      padding-bottom: 70px;
      margin-bottom: -50px;
      margin-top: -50px;
      padding-top: 20px;
    }
  }
}

// Footer
footer {
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  a {
    color: inherit;
  }
  p {
    font-size: 12px;
    opacity: 0.4;
  }
}
@media (min-width: 992px) {
  footer {
    p {
      font-size: 14px;
      max-width: 700px;
      margin: 0 auto;
    }
  }
}

// Movies Row
.movies-row {
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
  h2 {
    color: #f9f9f9;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.movie-card {
  max-width: 340px;
  border-radius: 4px;
  transform: scale(1);
  transition: all 0.25s ease-in-out;
  position: relative;
  background: linear-gradient(#30323e, #1e1f2a) 0% 0% / cover;
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
    rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 40px 58px -16px,
      rgba(0, 0, 0, 0.72) 0px 30px 22px -10px;
    transform: scale(1.04);
    transition: all 250ms ease-in-out;
  }
  &:hover::after {
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
  }
  &::after {
    content: "";
    position: absolute;
    border: 4.2px solid rgba(249, 249, 249, 0.8);
    height: 97%;
    width: 98%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    z-index: 3;
  }
  img {
    max-width: 100%;
    width: 100%;
    border-radius: 4px;
    vertical-align: middle;
  }
  .title {
    position: absolute;
    right: 0;
    left: 21px;
    bottom: 12px;
    color: #fff;
    font-size: 18px;
    width: max-content;
  }
  .watchingData {
    background: rgba(0, 0, 0, 0.612);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: white;
    transition: all 0.25s ease-in-out;
    h3 {
      margin: 0;
      position: absolute;
      left: 20px;
      top: 20px;
    }
    .lowerPart {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      top: 72%;
      margin: 0 16px;
    }
    .timeLeft {
      font-size: 13px;
      color: #c3c3c3;
      right: 6%;
    }
    .buttons {
      display: flex;
      svg {
        margin-right: 5px;
        height: 26px;
        width: 26px;
      }
    }
  }
  .progressBar {
    background: rgba(255, 255, 255, 0.22);
    width: 100%;
    height: 7px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transition: all 0.25s ease-in-out;
    .colorBar {
      background: rgb(17, 60, 207);
      background: linear-gradient(
        102deg,
        rgba(17, 60, 207, 1) 0%,
        rgba(191, 245, 253, 1) 120%
      );
      width: 25%;
      height: 7px;
      border-radius: 10px;
    }
  }

  &:hover .watchingData {
    opacity: 1;
    padding-bottom: 15px;
    transition: all 0.25s ease-in-out;
  }
  &:hover .progressBar {
    bottom: 6px;
    margin: 0 15px;
    border-radius: 12px;
    width: calc(100% - 30px);
    transition: all 0.25s ease-in-out;
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  .movie-card .watchingData .lowerPart {
    top: 48%;
  }
  .movie-card .watchingData .timeLeft{font-size: 11px;}
  .movie-card .watchingData h3 {
    font-size: 1rem;
    top: 8px;
  }
  .movie-card:hover .watchingData {
    padding-bottom: 0;
  }
  .searchPage .searchBar {
    font-size: 20px !important;
  }
}

// Movies Slide
.slide-wrapper {
  overflow: hidden;
  margin: -70px;
  .moviesSlide {
    width: 100%;
    height: 100%;
    padding: 70px !important;
    overflow: visible !important;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      position: relative;
    }
    .swiper-button-next,
    .swiper-button-prev {
      opacity: 0;
      transition: all 0.4s ease-in-out;
      color: #fff;
      &::after {
        font-size: 24px;
        font-weight: bold;
      }
    }
    .swiper-button-next{right: 150px;}
    &:hover .swiper-button-next {
      opacity: 1;
    }
    &:hover .swiper-button-prev {
      opacity: 1;
    }
  }
}

// Skeleton

.skeleton {
  display: flex;
  align-items: flex-start;
  .body {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    .smaller {
      width: 17%;
      height: 200px;
      border-radius: 8px;
      @extend %c-skeleton__animation;
    }
  }
}

$nova-color-skeleton-start: #1e1f2a !default;
$nova-color-skeleton-end: #30313a !default;

%c-skeleton__animation {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: $nova-color-skeleton-end;
  background-image: linear-gradient(
    to right,
    $nova-color-skeleton-start 8%,
    $nova-color-skeleton-end 18%,
    $nova-color-skeleton-start 33%
  );
  background-size: 800px 104px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 350px 0;
  }
}

// Brand Page
.brand-page {
  position: relative;
  margin-top: 94px;
  .background {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    img {
      width: 100%;
    }
  }
  .image {
    text-align: center;
  }
  &::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: rgb(26, 29, 41);
    background: linear-gradient(
      180deg,
      rgba(26, 29, 41, 0.3225665266106442) 0%,
      rgba(26, 29, 41, 1) 100%
    );
  }
}
@media (min-width: 320px) and (max-width: 1200px){
  .brand-page{
    .background{
      height: 100%;
      img{
        height: 100%;
        object-fit: cover;
      }
    }
    .image{
      img{
        max-width: 100%;
      }
    }
  }
}

@media (min-width: 992px) {
  .brandPage__image {
    text-align: center;
    min-height: 70vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 30vh;
  }
  .brandPage__image > img {
    max-width: 30vw;
  }
}

// Search
.searchPage {
  overflow: hidden;
  .gallery {
    margin-top: 125px;
  }
  .s_container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-right: -20px;
  }
  .searchBar {
    background: linear-gradient(
      180deg,
      rgba(51, 53, 61, 1) 0%,
      rgba(75, 78, 90, 1) 100%
    );
    color: #fff;
    width: 100%;
    height: 79px;
    font-weight: 600;
    font-size: 30px;
    padding-left: 30px;
    border: 0;
    position: fixed;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    top: 90px;
    z-index: 1;
    &:focus {
      background: linear-gradient(
        180deg,
        rgba(51, 53, 61, 1) 0%,
        rgb(120, 125, 144) 100%
      );
      outline: 0;
      transition: all 0.3s ease-in-out;
    }
    &::placeholder {
      color: #f9f9f9;
    }
  }

  .movie-card {
    margin-bottom: 30px;
  }
  h2 {
    color: red;
  }
}

@media (min-width: 768px) {
  .searchPage .movieCard {
    width: calc(33.3% - 20px);
  }
}
@media (min-width: 992px) {
  .searchPage {
    margin-top: 94px;
  }
  .searchPage__searchBar {
    height: 100px;
  }
  .searchPage .movieCard {
    width: calc(20% - 20px);
  }
  .searchPage__gallery {
    margin-top: 235px;
  }
}

// Movie Page
.moviePage {
  background: rgb(36, 38, 56);
  background: linear-gradient(
    180deg,
    rgba(36, 38, 56, 1) 0%,
    rgba(25, 27, 41, 1) 100%
  );
  overflow: hidden;
  .background {
    position: relative;
    img {
      width: 100%;
      opacity: 0.5;
    }
  }
  .overlay {
    background-image: radial-gradient(
      farthest-side at 73% 21%,
      transparent,
      rgb(33 35 51)
    );
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
  }
  .info {
    padding: 12px 20px;
    color: white;
    position: relative;
    .title {
      color: #f9f9f9;
      font-size: 30px;
      margin-bottom: 25px;
    }
    .description {
      max-width: 800px;
      line-height: 26px;
      font-size: 15px;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 425px;
      margin-bottom: 30px;
      button {
        border: 2px solid #fff;
        outline: none;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        svg {
          width: 20px;
          height: 20px;
          margin-right: 4px;
        }
      }
      .watch {
        color: rgba(0, 0, 0, 0.87);
        background: #fff;
        padding: 16px 20px;
        width: 160px;
        border-radius: 4px;
        margin-right: 10px;
        &:hover {
          background: #ddd;
        }
      }
      .trailer {
        color: rgba(255, 255, 255, 0.87);
        background: #000;
        padding: 16px 20px;
        width: 140px;
        border-radius: 4px;
        margin-right: 10px;
        svg {
          fill: #fff;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }
      }
      .plus,
      .users {
        border-radius: 50%;
        color: rgba(255, 255, 255, 0.87);
        background: #000;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          margin: 0;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }
      }
    }
    .movie-info span:not(:last-child)::after {
      content: "•";
      margin: 0 8px;
    }
  }
  .tab__subtitle {
    font-size: 15px;
    color: rgb(202, 202, 202);
    font-weight: 100;
    margin-bottom: 2px;
  }
  .tab__title {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

// Tab Panel
$tab-count: 4;
$indicator-height: 2px;

/* breakpoints */
$breakpoints: (
  medium: #{$tab-count * 250px},
  small: #{$tab-count * 150px},
);

/* colors */
$accent: #fff;
$accent-inactive: desaturate($accent, 85%);
$secondary: $accent-inactive;

/* selectors relative to radio inputs */
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";

@mixin tabs(
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector
) {
  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }

      #{$slider-selector} {
        transform: translateX(#{100% * ($i - 1)});
      }

      #{$content-selector}:nth-child(#{$i}) {
        display: block;
      }
    }
  }
}

.tabs {
  position: relative;
  padding-bottom: 80px;
  height: 250px;
  border-radius: 5px;
  min-width: #{$tab-count * 60px};
  input[name="tab-control"] {
    display: none;
  }

  ul li label {
    font-size: 0.9vw;
    letter-spacing: 3px;
    color: #717171;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    border-bottom: 2px solid hsla(0, 0%, 97.6%, 0.2);
    li {
      box-sizing: border-box;
      width: 10%;
      padding: 0 10px;
      text-align: center;
      label {
        transition: all 0.3s ease-in-out;
        color: #bbb;
        text-transform: uppercase;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;
        user-select: none;
      }
    }
  }

  .slider {
    position: relative;
    width: 10%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    top: -18px;
    .indicator {
      position: relative;
      max-width: 100%;
      margin: 0 auto;
      height: $indicator-height;
      background: $accent;
      border-radius: 1px;
    }
  }

  .content {
    margin-top: 30px;
    section {
      display: none;
      animation: {
        name: content;
        direction: normal;
        duration: 0.3s;
        timing-function: ease-in-out;
        iteration-count: 1;
      }
      line-height: 1.4;
      iframe {
        height: 170px;
        border-radius: 6px;
      }
    }
  }

  input[name="tab-control"] {
    @include tabs {
      > label {
        cursor: default;
        color: #fff;
        @media (max-width: map-get($breakpoints, small)) {
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }
  }

  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @media (max-width: map-get($breakpoints, medium)) {
    ul li label {
      white-space: initial;
    }
  }

  @media (max-width: map-get($breakpoints, small)) {
    ul li{
      width: 33%;
    }
    .tabs .content section iframe{width: 100%!important;}
    ul li label {
      padding: 5px;
      border-radius: 5px;
      span {
        font-size: 14px;
      }
    }
    .slider{width: 33%;}
    .content {
      margin-top: 20px;
      section h2 {
        display: block;
      }
    }
  }
}

@media (min-width: 992px) {
  .moviePage {
    display: flex;
    background: #1a1d29;
    .background {
      position: fixed;
      width: 100%;
      z-index: 0;
    }
    .overlay {
      background-image: radial-gradient(
        farthest-side at 73% 21%,
        transparent,
        rgb(26, 29, 41)
      );
    }
    .info {
      align-self: center;
      padding: 60vh 0 0 90px;
      width: 100%;
      .title {
        font-size: 55px;
      }
      .description {
        max-width: 800px;
        font-size: 19px;
        line-height: 30px;
      }
    }
    .tab__container {
      display: flex;
    }
    .tab__mainColumn {
      flex: 0.5;
    }
    .tab__itemsColumn {
      display: flex;
      justify-content: space-around;
      flex: 0.3;
    }
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  .moviePage {
    .info {
      .buttons {
        flex-flow: column;
        width: 100%;
        position: relative;
        padding-bottom: 50px;
        .watch,
        .trailer {
          width: 100%;
          margin: 5px 0;
          justify-content: center;
        }
        .plus{
          position: absolute;
          bottom: -5px;
          left:0;
        }
        .users{
          position: absolute;
          bottom: -5px;
          left: 50px;
        }
      }
    }
    #extras{
      .slide-wrapper{
        margin: 0;
        .swiper{
          padding: 0!important;
          overflow: hidden!important;
        }
      }
    }
  }
}
